.banner-container {
    background-color: #ffffff; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 90px;
    border-radius:8px;
    border: solid 1px;
    padding: 2px;
    margin: 5vh 0 8vh 20vw;
    /* text-shadow: #000000; */
}


.banner-content {
    display: flex;
    align-items: center;
    color: #000000; /* White text */
    width: 100%;
    max-width: 1200px; /* Adjust width for alignment */
}

.banner-logo {
    /* height: 7000px;  */
    /* margin-right: 20px; Space between logo and text */
}

.banner-text {
    text-align: left;

}

.banner-text h1 {
    font-size: 25px; /* Adjust font size for heading */
    margin: 0;
    font-weight: bold;
}

.banner-text p {
    font-size: 14px; /* Adjust font size for subtext */
    margin: 2px 0 0 0;
    font-style: italic;
}

/* Media Queries */

/* For large screens (desktops) */
@media (min-width: 1000px) {
    .banner-container {
        width: 60vw;
        height: 100px;
        margin: 8vh 20vw;
    }

    .banner-logo {
        height: 90px;
    }

    .banner-text h1 {
        font-size: 32px;
    }

    .banner-text p {
        font-size: 16px;
    }
}

/* For medium screens (tablets) */
@media (max-width: 768px) {
    .banner-container {
        width: 70vw;
        height: 80px;
        margin: 5vh 15vw;
        padding: 15px;
    }

    .banner-logo {
        height: 6px;
    }

    .banner-text h1 {
        font-size: 24px;
    }

    .banner-text p {
        font-size: 12px;
    }
}

/* For small screens (mobile devices) */
@media (max-width: 480px) {
    .banner-container {
        width: 90vw;
        height: 90px;
        margin: 1vh 5vw;
        /* flex-direction: column; */
     
        text-align: center;
        padding: 10px;
    }

    .banner-logo {
        height: 79px;
        /* margin: 0 0 10px 0; */
    }

    .banner-text h1 {
        font-size: 18px;
    }

    .banner-text p {
        font-size: 11px;
    }
}
