#cvrlogo {
  height: 200px;
  width: 200px;
  position: relative;
  opacity: 20%;
}

.box_enter {
  display: flex;
  height: 50px;
  align-items: center;
  border-radius: 80px;
}

.box_enter button {
  position: absolute;
  border-radius: 8px;
  left: 45%;
  width: 80px;
  height: 30px;
  transform: translate(-50%, -50%);
  justify-content: center;
  margin-left: 10px;
  color: rgb(67, 67, 165);
}

#input1 {
  margin: 15px 10px 10px 25px;
  text-align: 10px;
  height: 35px;
  width: 200px;
  /* border: 10px black; */
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;

}

.bo {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  height: 120px;
  width: 250px;
  border-radius: 8px;
}

#pp {
  text-align: center;
  padding: 10px;
}

button:hover {
  color: white;
  background-color: rgb(72, 84, 251);
}

#author_name {
  width: 200px;
  color: rgb(255, 255, 255);
  background-color: rgb(159, 159, 159);
  /* margin: 1000px; */
  padding: 2px;
  position: fixed;
  bottom: 8%;
  left: 90%;
}

/* Media Queries */

/* Large screens (desktops) */
@media (min-width: 1000px) {
   

  #cvrlogo {
    height: 200px;
    width: 250px;
  }

  .box_enter {
    margin: 100pX 0px 0px 370px;
  }

  #author_name {
    left: 85%;
  }
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
  
  #cvrlogo {
    height: 180px;
    width: 200px;
  }

  /* .box {
    width: 20px;
    height: 80px;
    top: 55%;
    left: 35%;
    margin: 100px;
  } */

  .box button {
    font-size: 12px;
  }

  #author_name {
    width: 180px;
    bottom: 5%;
    left: 80%;
  }
}

/* Small screens (mobile devices) */
@media (max-width: 480px) {
  #cvrlogo {
    height:220px;
    width: 300px;
    /* margin-top: 10px; */
    margin: -50px 0px 0px 0px;
  }

  .box_enter {
    width: 30px;
    /* height: 0px; */
    margin: 200PX 0PX 0PX 200PX;

    
    flex-direction: column; /* Stack elements vertically */
  }

  .box button {
    font-size: 10px;
    margin: 5px;
  }

  #author_name {
    width: 150px;
    bottom: 4%;
    left: 70%;
  }
}
